<header>
    <link rel="stylesheet" href="../../../public/css/bannerPartial.css" type="text/css">
</header>

<div class="containerBanner">
    <div class="sideNavbarHamburger">
        <span onclick="openNav()">&#9776;</span>
    </div>
    <div class="logo">
        <img src="../../public/imgs/logo.png" id="logo">
    </div>
</div>