<div>
    <label for='insertName'>Name:</label>
    <input type='text' id='insertName' name='insertName' required>
</div>
<div>
    <label for='insertGenus'>Genus:</label>
    <input type='text' id='insertGenus' name='insertGenus' required>
</div>
<div>
    <label for='insertGenusId'>Genus ID:</label>
    <input type='text' id='insertGenusId' name='insertGenusId' minlength="3" maxlength="3" required>
</div>
<div>
    <label for='insertSpecies'>Species:</label>
    <input type='text' id='insertSpecies' name='insertSpecies' required>
</div>
<div>
    <label for='insertSpeciesId'>Species ID:</label>
    <input type='text' id='insertSpeciesId' name='insertSpeciesId' minlength="3" maxlength="3" required>
</div>
<div>
    <label for='insertNumber'>Number:</label>
    <input type='text' id='insertNumber' name='insertNumber' minlength="3" maxlength="3" required>
</div>
<div>
    <label for='insertStatus'>Status:</label>
    <input type='text' id='insertStatus' name='insertStatus'>
</div>
<button type="submit">Insert Animal</button>