<header>
    <link rel="stylesheet" href="../../../public/css/navbarPartial.css" type="text/css">

    <script>
		function openNav() {
  			document.getElementById("sideNavbar").style.width = "200px";
		}

		function closeNav() {
  			document.getElementById("sideNavbar").style.width = "0";

		}
    </script>
</header>

<div class="sideNavbar" id="sideNavbar">
    <a href="javascript:void(0)" class="exitButton" onclick="closeNav()">&times;</a>
    <a href="/">Home</a>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    <a href="/welcome">Animal Management</a>
</div>