<header>
    <link rel="stylesheet" href="../../public/css/indexStyles.css" type="text/css">
</header>

<body>
    <%- include('partials/navbar') %>

    <%- include('partials/banner') %>
    
    <div class="welcomeMessage">
        <h1>Welcome to the Sample Zoo site for Sample Zoo personnel!</h1>
        <h3>Please <a href="/login">Login</a> or <a href="/register">Register</a> to continue.</h3>
    </div> 
</body>