<header>
    <link rel="stylesheet" href="../../public/css/registerStyles.css" type="text/css">
</header>

<body>
    <%- include('partials/navbar') %>

    <%- include('partials/banner') %>

    <div class="registerPrompt">
        <h1>Register</h1>

        <% if (messages.warning) { %>
            <span><%= messages.warning %></span>
        <% } %>

        <form action='/register' method='POST' class='registerForm'>
            <div>
                <label for='name'>Name</label>
                <input type='text' id='name' name='name'>
            </div>
            <div>
                <label for='email'>Email</label>
                <input type='email' id='email' name='email'>
            </div>
            <div>
                <label for='password'>Password</label>
                <input type='text' id='password' name='password' minlength="4" maxlength="50">
            </div>
            <button type='submit'>Register</button>
        </form>

        <h3>Already have an account?</h3>
        <a href='/login'>Login</a>
    </div>

</body>